.edit{
    background-color:blue;
    color:white;
    min-width:90px;
    min-height:10px;
}

.delete{
    background-color:red;
    color:white;
    min-width:90px;
    min-height:10px;
}

.search{
    margin-top:10px;
    margin-bottom:10px;
    background-color:white;
    color:black;
    min-width:90px;
    min-height:10px;
}

.add{
    margin-top:10px;
    margin-bottom:10px;
    background-color:green;
    color:white;
    min-width:90px;
    min-height:10px;
}